# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug
Static Library Debug
Static Library Release
Release
build/*
.settings
.vscode
.pydevproject
.cproject
.project
/utils_xml/build

# Reference renders written by the UI graphics test
gdi.bmp
gdiplus.bmp
gdiplus_noaa.bmp
